<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.listeners.RetryListener"></listener>
        <listener class-name="org.example.listeners.ScreenshotListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="Seleniumfraework">
        <classes>
            <class name="org.example.tests.Adduser"/>
            <class name="org.example.tests.Login"/>
            <class name="org.example.tests.My_info"/>
        </classes>
    </test>
</suite>